.card {
    background-color: #eee;
    border-radius: 10px;
    border: 3px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
    /* levantar un poco la card */
    transition: all 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

.card:active {
    transform: translateY(2px);
}

.card img {
    width: 80%;
}

.name {
    font-weight: 600;
    font-size: 2rem;
}

.type {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 20px;
}

.attack {
    margin: 5px 5px;
    font-size: 1.5rem;
}