.container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.containerChild h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.container label {
    display: block;
    margin-bottom: 10px;
}

.containerChild select {
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

button {
    transition: all 0.3s ease-in-out;
    border: 2px solid black;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-0.2px);
}